<% if @game.current_turn == @game.player_1 %>
  <h3><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h3>
<% else %>
  <h3><%= @game.player_2.name %> attacked <%= @game.player_1.name %></h3>
<% end %>
<p></p>

<p></p>
<form action="/switch-turns" method="post">
  <input type="submit" value="Keep playing">
</form>
