<h2>The Battle Begins:</h2>
<h3><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h3>
<p></p>

<%= @game.player_2.name %> has <%= @game.player_2.hit_points %> HP
<p></p>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
